/*******************************************************/
/*********************ADMIN*****************************/
/*******************************************************/


.title{
    padding-left: 40px;
}

.subtitle{
    padding-left: 50px;
    margin-bottom: 40px;
}

.card{
    margin-top: 15%;

}


.table div{
  margin-top: 30px;
}

.table button{
    width: 175px;
}


.btn p{
    padding-top: 15px;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 800px;
    padding: 10px;
}

thead{
     background-color: #cccccc;
 }

.table-info thead {
    background-color: #a7cef1;
}



th{
    color:#595959;
}

/* colores administracion*/

.table-info thead {
    background-color: #a7cef1 !important;
}

.table-info th{
    color: #155084 !important;
}
.table-info td{
    color: #155084 !important;
}

.table-info b{
    color: #155084 !important;
}

.table-info .btnE{
    color:#155084 !important;
}


.wrapper {
    width: 100%;
    min-height: 32px;
    height: auto!important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color:#d6e9f9;
    -webkit-box-shadow: #B3B3B3 5px 5px 5px;
    -moz-box-shadow: #B3B3B3 5px 5px 5px;
    box-shadow: #B3B3B3 5px 5px 5px;
    padding:50px;
}



    /* colores administracion*/

.btnE{
    width:50px !important;
}


.buscador{
    width:500px;
    height: 30px;
    margin-bottom:20px;
    margin-left: 95px;
}

.cover{
    border-width:1px;
    border-style:solid;
    color:grey;
    border-color:#3490dc;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    padding-top:5px;
    font-size: 12px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 5px;
    height: 40px;
}

.coverF{
background-color: blue;
}

.list{
    float: left;
    padding-left:20px;
    font-size: 14px;
}


.coverDrag{
    border-width:1px;
    border-style:solid;
    color:grey;
    border-color:black;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
    padding-top:5px;
    font-size: 12px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 5px;
    height: 340px;
}




.draggable p {
    padding: 5px;
    width: 100%;
}

.arrow{
    cursor: context-menu;
}

.titleE{
    font-size: 12px;
    font-weight: bold;
}
.title2{
    height: 40px;
    padding: 0px;
}

.title2 h5{
    padding-top: 10px;
}
.head{
    height:90px;
    width: 300px;

}


.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


.error{
    color:red;
}

.mitad{
    width: 50% !important;
    min-width:600px !important;
    padding-left: 10%;

}


.mitad2{
    width: 50% !important;
    min-width:600px !important;
}



.centerLogin{
    background-color: #f2f2f2;
    padding: 15%;
    border: 1px solid #cccccc;
}

.portales{
    background-color: rgba(0,0,0,.05);
    padding: 15px;
}


.greyC{
    background-color: #edf2f7;
    border: 1px solid #cad9e8;
    padding: 10px;
}




.iconModal{
    width: 90%;
    min-height: 32px;
    height: auto!important;
    background-color:#fff;
    padding:50px;;
    margin: 10px;
}


/**** partes ****/

.width100{
    width:100% !important;
}
.width100px{
    width:100px !important;
}
.width110px {
    width: 110px !important;
}
.width200px{
    width:200px !important;
}


.width300px{
    width:300px !important;
}

.width400px{
    width:400px !important;
}

.width600px{
    width:600px !important;
}


/**padding**/
.paddingTop10px{
    padding-top: 10px;
}
.paddingLeft50px{
    padding-left: 50px;
}
.paddingLeft20px{
    padding-left: 20px;
}

/**margin**/
.margin30{
    margin:20%;
}

.margin10px{
    margin: 10px;
}
.marginBottom20px {
    margin-bottom: 20px !important;
}
.marginBottom10px {
    margin-bottom: 10px !important;
}

.marginLeft90{
    margin-left: 90%;
}
.margintop10px{
    margin-top: 10px;
}

/**float**/

.floatLeft{
    float:left;
}
.floatRight{
    float:right;
}


/*******************************************************/
/*********************AGORA*****************************/
/*******************************************************/

.cuadro{
    min-width:500px;
    height: 300px;
    border: 3px dashed grey;
}


.cuadro i{
    color: #ffed4a;
}

.cuadro div {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
}
/*
input[type="file"] {
    display: none;
}*/
.custom-file-upload {
    display: inline-block;
    padding: 6px 9px;
    cursor: pointer;
    background-color: #ffed4a;
    font-weight: bold;
}

.custom-file-upload:hover {
    background-color: #ffeb33;
}

.agora{
    background-color: #fffacc !important;
    padding-left: 5% !important;

}



.table-warning thead {
    background-color: #ffed4a !important;
}

.table-warning th{
    color: #595959 !important;
}
.table-warning td{
    color: #595959 !important;
}

.table-warning b{
    color: #595959 !important;
}

.table-warning .btnE {
    color:#595959 !important;
}
.btn-warning b {
    color:#595959 !important;
}


.holder_default {
    width:500px;
    height:180px;
    border: 10px dashed #ccc;
}

#holder.hover {
    width:400px;
    height:180px;
    border: 10px dashed #0c0 !important;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#droptarget {
    height:180px;
    width: 100%;
    border: 3px dashed #ffed4a;
}

/*******************************************************/
/*********************GENERAL*****************************/
/*******************************************************/



.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    color:#3490dc;
    margin-left: 12px;
}
.btn-circle:hover{
    color:#fff !important;
    background-color: #3490dc;
}



.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}











