/*******************************************************/
/*********************ADMIN*****************************/
/*******************************************************/

.title {
    padding-left: 40px;
}

.subtitle {
    padding-left: 50px;
    margin-bottom: 40px;
}

.card {
    margin-top: 15%;

}

.table div {
    margin-top: 30px;
}

.table button {
    width: 175px;
}

.btn p {
    padding-top: 15px;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 800px;
    padding: 10px;
}

.textCenter {
    text-align: center;
}

thead {
    background-color: #cccccc;
}

.table-info thead {
    background-color: #a7cef1;
}

th {
    color: #595959;
}

/* colores administracion*/

.table-info thead {
    background-color: #a7cef1 !important;
}

.table-info th {
    color: #155084 !important;
}

.table-info td {
    color: #155084 !important;
}

.table-info b {
    color: #155084 !important;
}

.table-info .btnE {
    color: #155084 !important;
}

.wrapper {
    width: 100%;
    min-height: 32px;
    height: auto !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #d6e9f9;
    -webkit-box-shadow: #B3B3B3 5px 5px 5px;
    -moz-box-shadow: #B3B3B3 5px 5px 5px;
    box-shadow: #B3B3B3 5px 5px 5px;
    padding: 50px;
}

/* colores administracion*/

.btnE {
    width: 50px !important;
}

.buscador {
    width: 500px;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 95px;
}

.cover {
    border-width: 1px;
    border-style: solid;
    color: grey;
    border-color: #3490dc;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding-top: 5px;
    font-size: 12px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 5px;
    height: 40px;
}

.coverF {
    background-color: blue;
}

.coverDrag {
    border-width: 1px;
    border-style: solid;
    color: grey;
    border-color: black;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    padding-top: 5px;
    font-size: 12px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 5px;
    height: 340px;
}

.draggable p {
    padding: 5px;
    width: 100%;
}

.arrow {
    cursor: context-menu;
}

.titleE {
    font-size: 12px;
    font-weight: bold;
}

.title2 {
    height: 40px;
    padding: 0px;
}

.title2 h5 {
    padding-top: 10px;
}

.head {
    height: 90px;
    width: 300px;

}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.error {
    color: red;
}

.mitad {
    width: 50% !important;
    min-width: 600px !important;
    padding-left: 10%;

}

.mitad2 {
    width: 50% !important;
    min-width: 600px !important;
}

.centerLogin {
    background-color: #f2f2f2;
    padding: 15%;
    border: 1px solid #cccccc;
}

.portales {
    background-color: rgba(0, 0, 0, .05);
    padding: 15px;
}

.greyBlueC {
    background-color: #bcdbf6;
    border: 1px solid #cad9e8;
    padding: 10px;
}

.iconModal {
    width: 90%;
    min-height: 32px;
    height: auto !important;
    background-color: #fff;
    padding: 50px;;
    margin: 10px;
}

/**** partes ****/
.height60px {
    height: 60px;
}

.height90 {
    height:90%;
}


.width100 {
    width: 100% !important;
}

.width10px {
    width: 10px !important;
}

.width40px {
    width: 40px !important;
}

.width60px {
    width: 60px !important;
}

.width80px {
    width: 80px !important;
}

.width100px {
    width: 100px !important;
}

.width110px {
    width: 110px !important;
}

.width200px {
    width: 200px !important;
}

.width300px {
    width: 300px !important;
}

.width400px {
    width: 400px !important;
}

.width600px {
    width: 600px !important;
}

/*%*/
.width45 {
    width: 45% !important;
}



/**padding**/
.paddingTop10px {
    padding-top: 10px;
}

.paddingTop90 {
    padding-top: 90%;
}



.paddingLeft50px {
    padding-left: 50px;
}

.paddingLeft100px {
    padding-left: 100px;
}

.paddingLeft20px {
    padding-left: 20px;
}

.paddingLeft30 {
    padding-left: 30%;
}

.paddingLeft40 {
    padding-left: 40%;
}
.paddingLeft50 {
    padding-left: 50%;
}




.paddingLeft20 {
    padding-left: 20%;
    text-align: center;
}

.paddingLeft40px {
    padding-left: 40px;
}

.paddingLeft60px {
    padding-left: 60px;
}

.paddingLeft10px {
    padding-left: 10px;
}

.paddingLeft5px {
    padding-left: 5px;
}

.paddingRight20px {
    padding-right: 20px;
}

.paddingBottom10px {
    padding-bottom: 10px;
}

/**margin**/
.margin30 {
    margin: 30%;
}

.margin5 {
    margin: 5%;
}

.margin3 {
    margin: 3%;
}

.margin10px {
    margin: 10px;
}

.marginTop20 {
    margin-top: 20% !important;
}



.marginBottom20px {
    margin-bottom: 20px !important;
}

.marginBottom10px {
    margin-bottom: 10px !important;
}

.marginLeft20px {
    margin-left: 20px !important;
}

.marginLeft90 {
    margin-left: 90% !important;
}

.marginLeft45 {
    margin-left: 45% !important;
}

.marginLeft20 {
    margin-left: 20% !important;
}

.marginLeft60px {
    margin-left: 60px !important;
}

.marginLeft30px {
    margin-left: 30px !important;
}

.marginLeft20px {
    margin-left: 20px !important;
}

.marginLeft15px {
    margin-left: 15px !important;
}

.margintop10px {
    margin-top: 10px !important;
}

.marginRight30px {
    margin-right: 30px !important;
}

/**float**/

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.refresh {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.bg-lightBlue {
    background-color: #e6f2ff;
}

.bg-lightBlue2 {
    background-color: #e6f9ff;
}

.bg-lightBlue3 {
    background-color: #ccebff;
}

/*******************************************************/
/****************BIBLIOTECA *****************************/
/*******************************************************/

.cuadro {
    min-width: 500px;
    height: 300px;
    border: 3px dashed grey;
}

.cuadro i {
    color: #ffed4a;
}

.cuadro div {
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 60px;
}

/*
input[type="file"] {
    display: none;
}*/
.custom-file-upload {
    display: inline-block;
    padding: 6px 9px;
    cursor: pointer;
    background-color: #ffed4a;
    font-weight: bold;
}

.custom-file-upload:hover {
    background-color: #ffeb33;
}

.agora {
    background-color: #eef4ff !important;
    padding-left: 5% !important;
}

.files {
    height: 30px;
    width: 30px;
    color: #fff;
    background-color: #008fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    left: 200px;
    bottom: 46px;
}

.files small {
    font-weight: bold;
    padding-left: 4px;
}

.files i {
    font-size: 0.8em !important;
}

.table-warning thead {
    background-color: #ffed4a !important;
}

.table-warning th {
    color: #595959 !important;
}

.table-warning td {
    color: #595959 !important;
}

.table-warning b {
    color: #595959 !important;
}

.table-warning .btnE {
    color: #595959 !important;
}

.btn-warning b {
    color: #595959 !important;
}

.holder_default {
    width: 500px;
    height: 180px;
    border: 10px dashed #ccc;
}

#holder.hover {
    width: 400px;
    height: 180px;
    border: 10px dashed #0c0 !important;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.btn-outline-info:hover {
    color: #fff;
}


.caretButton{
    height: 3px !important;
    width:  3px !important;
}

/*******************************************************/
/*********************GENERAL*****************************/
/*******************************************************/

.centro {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10%;
    right: 0;
    top: 20%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    color: #3490dc;
    margin-left: 12px;
}

.btn-circle:hover {
    color: #fff !important;
    background-color: #3490dc;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

/*********************************************/
/****************COMAFE***********************/
/*********************************************/

/*html tag*/
html body {
    background-color: #fff;
}

/*header*/
.headerC {
    background: rgb(255, 255, 255);
    background: linear-gradient(50deg, rgba(255, 255, 255, 1) 0%, rgba(181, 191, 0, 1) 100%, rgba(0, 212, 255, 1) 100%);
    -webkit-box-shadow: -1px 5px 5px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 5px 5px 1px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 5px 5px 1px rgba(0, 0, 0, 0.25);
}

.header .btn-link {
    color: grey !important;
    text-decoration: none;
}

.header a {
    color: grey !important;
}

.logoComafe {
    background-image: url("/img/logoComafe.png");
    background-repeat: no-repeat;
    height: 70px;
    width: 230px;
}

body {
    margin: 0
}

.navbar {
    display: flex; /* displays flex-items (children) inline */
    justify-content: space-between; /* children are evenly distributed, first child is on the left and last child on the right side */
}

ul {
    list-style: none;
}

/*color*/
.colorC {
    background-color: #B5BF00 !important;
    color: #fff !important;
}

.colorC .page-link {
    background-color: #B5BF00 !important;
    color: #fff !important;
}

.dropdown-submenu {
    /*background-color: GREEN !important;*/

}

.dropdown-submenu button {
    background-color: transparent;
    width: 90%;
    margin: -3px;
    cursor: pointer;
    border: none;
    border: 0;
    min-width: 11rem;

}

.dropdown-submenu button p {
    padding: 5px;
    margin: 3px;
    font-size: 14px;
}

.dropdown-submenu:hover {
    background-color: #e6e6e6;
}

.dropdown {
    list-style-type: none;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 1px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu li:hover {
    background-color: #e6e6e6;
}

.submenu2 {
    background-color: lightgrey;
    padding: 12px;
    height: 60px;
}
.bar p{
    text-align: left;
}

.bar button {
    font-size: 1.02rem;
    /*  font-family: Questrial, serif !important;*/
}

.comafe .page-item .page-link {

    z-index: 1;
    color: #B5BF00;
    background-color: #fff !important;
}

.comafe .page-item.active .page-link {

    z-index: 1;
    color: #fff;
    background-color: #B5BF00 !important;
    border-color: #B5BF00 !important;
}

.badge {
    font-weight: normal !important;
    font-size: 0.97rem;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.list {
    float: left;
    padding-left: 20px;
    font-size: 10px;
}

.headerComafe {
    background-color: #B5BF00;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    /*margin-left: 10px;
    margin-right: 10px;*/
    height: 60px;
}

.headerComafe h6 {
    font-size: 133.33%;
    color: #fff;
    padding-left: 20px;
    padding-top: 5px;

}

.headerComafe i {
    color: #fff;
}

.wrapperComafe {
    border: 2px solid #B5BF00;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.wrapperComafeListado {
    padding-top: 2px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.fa-xl {
    font-size: 2em !important;
    padding-top: -5px !important;
    padding-bottom: -15px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -5px !important;
    margin-bottom: -10px !important;
}

/* tablas*/
.borderComafe {
    border: 1.5px solid #B5BF00 !important;
}

.table-comafe td {
    color: grey !important;
}

.table-comafe, .table-comafe > th, .table-comafe > td {
    background-color: #FEFFC3;

}

.table-comafe thead {
    background-color: #B5BF00;

}

.table-comafe thead th {
    color: #fff;
    font-size: small;
}

.table-stripedComafe tbody tr:nth-of-type(2n+1) {
    background-color: #fff;
}

.sp {
    padding-left: 10px;
}

/*********************************************/
/*************FERRCASH************************/
/*********************************************/

.logoFerrcash {
    background-image: url("/img/logoFerrcash.png");
    background-repeat: no-repeat;
    height: 70px;
    width: 230px;
}

/*header*/
.headerF {
    background: rgb(236, 115, 44);
}

.colorF {
    background-color: #ec732c !important;
    color: #fff !important;
}

/****************************************************/
/************* REPORTING*****************************/
/****************************************************/

.wrapperReporting {
    max-width: 700px;
    min-height: 32px;
    height: auto !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #e5eaee;
    -webkit-box-shadow: #B3B3B3 5px 5px 5px;
    -moz-box-shadow: #B3B3B3 5px 5px 5px;
    box-shadow: #B3B3B3 5px 5px 5px;
    padding: 50px;
}

/*********************************************************/
/******************  MANTENIMIENTO ************************
***********************************************************/

.reportingBackground {
    background-image: url("/img/mantenimiento.jpg");
    background-repeat: no-repeat;
    max-width: 10%;
    min-height: 10%;
}